.dropdown {
  width: 80vw;
  background-color: rgb(31, 30, 30);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.dropLeft {
  display: grid;
  grid-column: 1;
  padding: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
.dropLeftbtn {
  display: grid;
  grid-column: 1;
  padding: 1rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.titleBtn {
  color: black;
  display: flex;
  flex-direction: column;
}

.charactersBtn,
.campaignsBtn,
.featsBtn,
.backgroundsBtn,
.classesBtn,
.speciesBtn,
.magicsBtn,
.spellsBtn,
.monstersBtn,
.diceBtn {
  width: 15rem;
  height: 8rem;
  border-radius: 10px;
  display: flex; 
  flex-direction: column; 
  justify-content: flex-end; 
  align-items: center; 
  padding: 10px; 
  font-weight: 700;
  font-size: 1rem;
}

a {
  text-decoration: none !important;
}

.titleBtn {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 3px;
  color: white;
}

.charactersBtn {
  background-image: url("https://imgs.search.brave.com/KN5hLk53eAwUh5wiJCHB2U_ppp2aR8LXqi1qUX1Td0k/rs:fit:0:180:1:0/g:ce/aHR0cHM6Ly9wNC53/YWxscGFwZXJiZXR0/ZXIuY29tL3dhbGxw/YXBlci82MzMvODk2/LzYyL2FjdGlvbi1h/ZHZlbnR1cmUtZHJh/Z29uLWRyYWdvbnMt/d2FsbHBhcGVyLXBy/ZXZpZXcuanBn");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: none;
}

.charactersBtn:hover {
   background-size: 28rem;
}

.campaignsBtn{
  background-image: url("https://imgs.search.brave.com/0kC03zU1rZiMS_6VM-QbbWGkEn43gTHHcyLvVCw5CzU/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9wNC53/YWxscGFwZXJiZXR0/ZXIuY29tL3dhbGxw/YXBlci81ODAvNzQ3/LzY3Ni9iYWxkdXIt/cy1nYXRlLTMtbGFy/aWFuLXN0dWRpb3Mt/ZHVuZ2VvbnMtYW5k/LWRyYWdvbnMtNGst/Z2FtaW5nLWhkLXdh/bGxwYXBlci1wcmV2/aWV3LmpwZw");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: none;
}

.campaignsBtn:hover {
   background-size: 16rem;
}

.featsBtn{
  background-image: url("https://imgs.search.brave.com/gvKgbeYRCzKw56pdGGaE3sNYHvIK360vUCifvHArj_U/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly93d3cu/d2FyZ2FtZXIuY29t/L3dwLWNvbnRlbnQv/c2l0ZXMvd2FyZ2Ft/ZXIvMjAyNC8wOC9k/bmQtMjAyNC1mZWF0/cy1odW1hbi13YXJs/b2NrLTU1MHgzMDku/anBn");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: none;
}

.featsBtn:hover {
   background-size: 16rem;
}

.backgroundsBtn{
  background-image: url("https://imgs.search.brave.com/squcn5UdSsNdRgSJOJ9JAjfx6Cz4Cfj8nwVprhnO4HE/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly93d3cu/d2FyZ2FtZXIuY29t/L3dwLWNvbnRlbnQv/c2l0ZXMvd2FyZ2Ft/ZXIvMjAyNS8wMi9k/bmQtMjAyNC1iYWNr/Z3JvdW5kcy1mb3J0/cmVzcy01NTB4MzA5/LmpwZw");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: none;
}

.backgroundsBtn:hover {
   background-size: 16rem;
}

.classesBtn{
  background-image: url("https://imgs.search.brave.com/TzIc05xgzYI9yic15bNQMid8LbhKMVhtY3qJcWoQwpM/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9kdW5n/ZW9uc29sdmVycy5j/b20vd3AtY29udGVu/dC91cGxvYWRzLzIw/MjMvMDkvZG5kLTVl/LWNsYXNzZXMtMTAy/NHg1NzQucG5n");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: none;
}

.classesBtn:hover {
   background-size: 16rem;
}

.speciesBtn{
  background-image: url("https://imgs.search.brave.com/azkbP9r4ucslMw70tWTN3R20hTgu9sFBDrGF5py7TaY/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9pMC53/cC5jb20vZHVuZ2Vv/bnNhbmRkcmFnb25z/ZmFuLmNvbS93cC1j/b250ZW50L3VwbG9h/ZHMvMjAyNC8wNy9u/ZXctMjAyNC1kbmQt/cmFjZXMtc3BlY2ll/cy0xNi5wbmc_cmVz/aXplPTgwMCw0NTAm/c3NsPTE");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: none;
}

.speciesBtn:hover {
   background-size: 16rem;
}

.magicsBtn{
  background-image: url("https://imgs.search.brave.com/bZdmu7YV7W0HWp5hVDIeqgETg945ZbYm5Uwu7FuSEwI/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/Zm90b3MtcHJlbWl1/bS9waW50dXJhLWRy/YWdvbi1zaWVuZG8t/dG9tYWRhLWZhYnJp/Y2EtZHJhZ29uLWZv/bmRvXzEyNjI3ODEt/MTgyOTY3LmpwZz9z/ZW10PWFpc19oeWJy/aWQmdz03NDA");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: none;
}

.magicsBtn:hover {
   background-size: 16rem;
}

.monstersBtn{
  background-image: url("https://imgs.search.brave.com/lvZQorwkCA1_8AspU2LifkO4mpLOt6tCe0qGLzacbwk/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9wNC53/YWxscGFwZXJiZXR0/ZXIuY29tL3dhbGxw/YXBlci84NTcvNTQ2/LzQ3MS9mYW50YXN5/LWR1bmdlb25zLWFu/ZC1kcmFnb25zLXdh/bGxwYXBlci1wcmV2/aWV3LmpwZw");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: none;
}

.monstersBtn:hover {
   background-size: 16rem;
}

.spellsBtn{
  background-image: url("https://imgs.search.brave.com/sY-pUuW1fS1J-4Oxw4ptJNf1l82HQ2f4v3pF2Z8XUQg/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly93d3cu/Y3VsdHR1cmUuY29t/L3BpY3MvMjAyMS8x/MC9kcmFnb25lcy15/LW1hem1vcnJhcy1j/dWFsZXMtc29uLWxv/cy1tZWpvcmVzLWhl/Y2hpem9zLWRlbC1q/dWVnby0xLndlYnA");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: none;
}

.spellsBtn:hover {
   background-size: 17rem;
}

.diceBtn{
  background-image: url("https://imgs.search.brave.com/2RCbzal7XqVay34gVqUw1IUqJoQN1TOwvfLoBUUXvLs/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9wNC53/YWxscGFwZXJiZXR0/ZXIuY29tL3dhbGxw/YXBlci81NDkvNi81/MjIvZDIwLWRpY2Ut/bnVtYmVycy1nb2xk/LXdhbGxwYXBlci1w/cmV2aWV3LmpwZw");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: none;
}

.diceBtn:hover {
   background-size: 16rem;
}

.dropRight {
  padding: 1rem;
  gap: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.createBtn {
  color: white;
  width: 100%;
  text-decoration: none;
}

.createBtn:hover {
  font-weight: 500;
}

.classeswikibtn {
  background-image: url("https://lasetadelgoblin.com/wp-content/uploads/2021/09/dnd2-900x317.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: none;
}

.classeswikibtn:hover {
  background-size: 110%; 
}

.specieswikibtn {
  background-image: url("https://geekdad.com/wp-content/uploads/2024/09/dnd2024-Give-it-a-Try.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: none;
}

.specieswikibtn:hover {
  background-size: 110%; 
}


.backgroundswikibtn {
  background-image: url("https://mythcreants.com/wp-content/uploads/2022/09/Stryxhaven-824x550.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 30%; 
  border: none;
}

.backgroundswikibtn:hover {
  background-size: 110%; 
}

.equipmentwikibtn {
  background-image: url("https://olddungeonmaster.com/wp-content/uploads/2020/08/player-equipment.jpg?w=640");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: none;
}

.equipmentwikibtn:hover {
  background-size: 110%; 
}

.featswikibtn {
  background-image: url("https://static0.cbrimages.com/wordpress/wp-content/uploads/2021/09/DD-Artificer.jpg?w=1600&h=900&fit=crop");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 30%;
  border: none;
}

.featswikibtn:hover {
  background-size: 110%; 
}

.spellswikibtn {
  background-image: url("https://www.dndbeyond.com/attachments/10/598/the-three-constants-of-magic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: none;
}

.spellswikibtn:hover {
  background-size: 110%; 
}

.magicitemswikibtn {
  background-image: url("https://static0.cbrimages.com/wordpress/wp-content/uploads/2023/04/15-common-magical-items-your-d-d-party-will-thank-you-for.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: none;
}

.magicitemswikibtn:hover {
  background-size: 110%; 
}

.monsterswikibtn {
  background-image: url("https://static0.cbrimages.com/wordpress/wp-content/uploads/2022/11/Shadow-of-the-Dragon-Queen-Dragonlance.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: none;
}

.monsterswikibtn:hover {
  background-size: 110%; 
}