.basic-form {
    font-family: 'Courier New', Courier, monospace;
    border: 64px solid transparent;              
    border-image: url("../front/assets/img/form-background.png") 90 fill round;
    height: 100vh;
    background-size: cover;                  
    background: #ffffff00;                        
    border-radius: 12px;                        
}
body {
    background-image: url("../front/assets/img/builder1k.jpg");
    background-repeat: no-repeat;

}
::-webkit-scrollbar {
  display: none;
}

/* Para Firefox */
html {
  scrollbar-width: none;
}

/* Para asegurar que funcione en todos lados */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

body::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}